@import "../../utils/mixins";

.header {
  &__dimensions {
    position: sticky;
    background: #fff;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 15px 30px;
    height: 90px;

    @include onTablet {
      padding: 15px 70px;
    }

    @include onDesktopSmall {
      padding: 15px 210px;
    }

    @include onDesktop {
      padding: 15px 280px;
    }
  }

  &__name {
    color: rgba(0, 0, 0, 0.8);
  }

  &__right-box {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    border: 1px solid #E2E6E9;
    transition: 0.1s linear;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    font-size: 12px;
    border-radius: 10%;

    @include onTablet {
      font-size: 16px;
    }

    &:hover {
      border: 2px solid #00b0c8;
    }

    &--active {
      border: 2px solid #a5fe92;
      color: #00b0c8;
    }
  }
}
